In [24]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
%matplotlib inLine
from scipy.stats import linregress

In [5]:
executionDF = pd.read_csv("DPIC Execution Database - U.S. Executions.csv")

In [11]:
columns = executionDF.columns.tolist()
print(columns)

['Foreign National', 'Number of White Male Victims', 'Juvenile', 'First Name', 'Last Name', 'Middle Name(s)', 'Suffix', 'Race', 'Sex', 'Region', 'Country', 'State', 'Execution Date', 'Number of Victims', 'Number of Black Male Victims', 'Number of Latino Male Victims', 'Number of Asian Male Victims', 'Number of Native American Male Victims', 'Number of Other Race Male Victims', 'Number of White Female Victims', 'Number of Black Female Victims', 'Number of Latino Female Victims', 'Number of Asian Female Victims', 'Number of American Indian or Alaska Native Female Victims', 'Number of Other Race Female Victims', 'Victim(s) Race(s)', 'Race of Victims (Multiple races including white)']

In [13]:
executionDF.head()

,Foreign National,Number of White Male Victims,Juvenile,First Name,Last Name,Middle Name(s),Suffix,Race,Sex,Region,...,Number of Native American Male Victims,Number of Other Race Male Victims,Number of White Female Victims,Number of Black Female Victims,Number of Latino Female Victims,Number of Asian Female Victims,Number of American Indian or Alaska Native Female Victims,Number of Other Race Female Victims,Victim(s) Race(s),Race of Victims (Multiple races including white)
0,No,1,no,Gary,Gilmore,Mark,NaN,White,Male,West,...,0,0,0,0,0,0,0,0,White,White
1,No,1,no,John,Spenkelink,NaN,NaN,White,Male,South,...,0,0,0,0,0,0,0,0,White,White
2,No,1,no,Jesse,Bishop,NaN,NaN,White,Male,West,...,0,0,0,0,0,0,0,0,White,White
3,No,2,no,Steven,Judy,NaN,NaN,White,Male,Midwest,...,0,0,2,0,0,0,0,0,White,White
4,No,1,no,Frank,Coppola,NaN,NaN,White,Male,South,...,0,0,0,0,0,0,0,0,White,White

In [73]:
index_to_delete = newExecutionDF[(executionDF['First Name'] == 'Richard') & (df['Last Name'] == 'Fairchild')].index

C:\Users\JPHin\AppData\Local\Temp\ipykernel_54476\3167997233.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  index_to_delete = newExecutionDF[(executionDF['First Name'] == 'Richard') & (df['Last Name'] == 'Fairchild')].index

In [74]:
index_to_delete = newExecutionDF[(executionDF['First Name'] == 'Jemaine') &(executionDF['Last Name'] == 'Cannon')].index

# Delete the row with the specified name
executionDF.drop(index_to_delete, inplace=True)

# Display the updated DataFrame
print(executionDF)

     Foreign National  Number of White Male Victims Juvenile First Name  \
0                  No                             1       no       Gary
1                  No                             1       no       John
2                  No                             1       no      Jesse
3                  No                             2       no     Steven
4                  No                             1       no      Frank
...               ...                           ...      ...        ...
1586               no                             1       no      Brian
1587               no                             1       no      Jamie
1588               no                             1       no      David
1589               no                             0       no     Ramiro
1590               no                             0       no    Richard

       Last Name Middle Name(s) Suffix    Race   Sex   Region  ...  \
0        Gilmore           Mark    NaN   White  Male     West  ...
1     Spenkelink            NaN    NaN   White  Male    South  ...
2         Bishop            NaN    NaN   White  Male     West  ...
3           Judy            NaN    NaN   White  Male  Midwest  ...
4        Coppola            NaN    NaN   White  Male    South  ...
...          ...            ...    ...     ...   ...      ...  ...
1586      Dorsey         Joseph    NaN   White  Male  Midwest  ...
1587       Mills            Ray    NaN   White  Male    South  ...
1588      Hosier            R.     NaN   White  Male  Midwest  ...
1589    Gonzales          Felix    NaN  Latino  Male    South  ...
1590       Rojem         Norman    NaN   White  Male    South  ...

     Number of Native American Male Victims Number of Other Race Male Victims  \
0                                         0                                 0
1                                         0                                 0
2                                         0                                 0
3                                         0                                 0
4                                         0                                 0
...                                     ...                               ...
1586                                      0                                 0
1587                                      0                                 0
1588                                      0                                 0
1589                                      0                                 0
1590                                      0                                 0

     Number of White Female Victims  Number of Black Female Victims  \
0                                 0                               0
1                                 0                               0
2                                 0                               0
3                                 2                               0
4                                 0                               0
...                             ...                             ...
1586                              1                               0
1587                              1                               0
1588                              1                               0
1589                              1                               0
1590                              1                               0

      Number of Latino Female Victims  Number of Asian Female Victims  \
0                                   0                               0
1                                   0                               0
2                                   0                               0
3                                   0                               0
4                                   0                               0
...                               ...                             ...
1586                                0                               0
1587                                0                               0
1588                                0                               0
1589                                0                               0
1590                                0                               0

      Number of American Indian or Alaska Native Female Victims  \
0                                                     0
1                                                     0
2                                                     0
3                                                     0
4                                                     0
...                                                 ...
1586                                                  0
1587                                                  0
1588                                                  0
1589                                                  0
1590                                                  0

      Number of Other Race Female Victims  Victim(s) Race(s)  \
0                                       0              White
1                                       0              White
2                                       0              White
3                                       0              White
4                                       0              White
...                                   ...                ...
1586                                    0              White
1587                                    0              White
1588                                    0              White
1589                                    0              White
1590                                    0              White

      Race of Victims (Multiple races including white)
0                                                White
1                                                White
2                                                White
3                                                White
4                                                White
...                                                ...
1586                                             White
1587                                             White
1588                                             White
1589                                             White
1590                                             White

[1590 rows x 27 columns]

In [75]:
newExecutionDF = executionDF.drop(columns=["Middle Name(s)", "Suffix"])
newExecutionDF.head()

,Foreign National,Number of White Male Victims,Juvenile,First Name,Last Name,Race,Sex,Region,Country,State,...,Number of Native American Male Victims,Number of Other Race Male Victims,Number of White Female Victims,Number of Black Female Victims,Number of Latino Female Victims,Number of Asian Female Victims,Number of American Indian or Alaska Native Female Victims,Number of Other Race Female Victims,Victim(s) Race(s),Race of Victims (Multiple races including white)
0,No,1,no,Gary,Gilmore,White,Male,West,United States,Utah,...,0,0,0,0,0,0,0,0,White,White
1,No,1,no,John,Spenkelink,White,Male,South,United States,Florida,...,0,0,0,0,0,0,0,0,White,White
2,No,1,no,Jesse,Bishop,White,Male,West,United States,Nevada,...,0,0,0,0,0,0,0,0,White,White
3,No,2,no,Steven,Judy,White,Male,Midwest,United States,Indiana,...,0,0,2,0,0,0,0,0,White,White
4,No,1,no,Frank,Coppola,White,Male,South,United States,Virginia,...,0,0,0,0,0,0,0,0,White,White

In [76]:
sexCount = newExecutionDF.value_counts('Sex')
sexCount

Sex
Male      1571
Female      18
Male         1
Name: count, dtype: int64

In [77]:
#Pie chart for race of accused
raceCounts = newExecutionDF['Race'].value_counts()
raceCounts

Race
White                               885
Black                               540
Latinx                              132
American Indian or Alaska Native     21
Asian                                 7
Other Race                            3
Latino                                2
Name: count, dtype: int64

In [ ]:
#pie chart for race of victims

In [ ]:
#bar chart for state