In [1]:
import pandas as pd
from pprint import pprint
import datetime as dt

In [2]:
#Read in CSV files
txlastStatements = pd.read_csv("merged_data.csv")

In [3]:
txlastStatements.head()

,Execution,Date of Birth,Date of Offence,Highest Education Level,Last Name,First Name,TDCJ\nNumber,Age at Execution,Date Received,Execution Date,Race,County,Eye Color,Weight,Height,Native County,Native State,Last Statement,County Centroid Location
0,553,9/24/1983,11/21/2004,9.0,Young,Christopher Anthony,999508,34,3/31/2006,7/17/2018,Black,Bexar,Brown,216.0,"6' 1""",Bexar,Texas,l want to make sure the Patel family knows I l...,POINT (-98.51966309 29.44884523)
1,552,8/28/1951,5/27/1979,12.0,Bible,Danny Paul,999455,66,7/17/2003,6/27/2018,White,Harris,Blue,194.0,"5' 7""",Brazoria,Texas,NaN,POINT (-95.39782106 29.85967144)
2,551,4/3/1981,12/3/2003,10.0,Castillo,Juan Edward,999502,37,9/27/2005,5/16/2018,Hispanic,Bexar,Brown,180.0,"5' 11""",Bexar,Texas,To everyone that has been there for me you kno...,POINT (-98.51966309 29.44884523)
3,550,4/4/1987,4/6/2008,11.0,Davila,Erick Daniel,999545,31,2/27/2009,4/25/2018,Black,Tarrant,Brown,161.0,"5' 11""",Tarrant,Texas,"Yes, I would like to say nephew it burns huh. ...",POINT (-97.29116473 32.77185236)
4,549,3/26/1980,9/13/2005,12.0,Rodriguez III,Rosendo,999534,38,5/14/2008,3/27/2018,Hispanic,Lubbock,Brown,198.0,"5' 8""",Wichita,Texas,First I would like to say I have been here sin...,POINT (-101.8205745 33.6101944)

TypeError: 'DataFrame' object is not callable